<a href="https://colab.research.google.com/github/alfmorais/estudos_em_python/blob/main/curso_python_3/secao_2/aula_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Seção 2 - Aula 14

## Tipos de Dados Primitivos


*   str - String -> 'alfredo'
*   int - inteiro -> 8, 80, 800
*   float - real/ponto flutuante -> 3.14, 15.14
*   bool - booleano /lógico -> True ou False

In [1]:
print(type('Alfredo'))

<class 'str'>

In [2]:
print(type(5))

<class 'int'>

In [3]:
print(type(5.5))

<class 'float'>

In [4]:
print(type(True))

<class 'bool'>

In [5]:
print('Alfredo', type('Alfredo'), bool('Alfredo'))

Alfredo <class 'str'> True

In [6]:
print('10', type('10'), type(int('10')))

10 <class 'str'> <class 'int'>

In [ ]:
print(10 + 10)

In [ ]:
# Strig: Nome
# Idade: Int
# Altura: Float
# Maior que 18 anos

In [9]:
def info(nome, idade, altura):
  """
    Recebe as variaveis: nome(str), idade(int), altura(float)
    Retorna uma string formatada. 
  """

  if idade > 18:
    status = 'maior que 18 anos'
  else: 
    status = 'menor que 18 anos'
    
  print(f'Nome: {nome}, Idade: {idade}, Altura: {altura} metros, {status}')

In [10]:
info('Alfredo', 28, 1.58)

Nome: Alfredo, Idade: 28, Altura: 1.58 metros, maior que 18 anos