<a href="https://colab.research.google.com/github/alfmorais/google_colaboratory/blob/main/array_python_dev_aprender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# ARRAYS - DEV APRENDER
import pandas as pd

codigo_tipo = ["b'", "B'", "u'", "h'", "H'", "i'", "I'", "l'", "L'", "q'", "Q'", "f'", "d'"]

tipo_em_c = ['signed char', 'usigned char', 'Py_UNICODE', 'signed short', 'usigned short',
             'signed int', 'unsigned int', 'signed long', 'unsigned long', 'signed long long',
             'unsigned long long', 'float', 'double']

tipo_em_python = ['int', 'int', 'caracter unicode', 'int', 'int', 'int', 'int',
                   'int', 'int', 'int', 'int', 'float', 'float']

tamanhos_min_em_bytes = [1, 1, 2, 2, 2, 2, 2, 4, 4, 8, 8, 4, 8]

notas = [' ', ' ', -1, ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [6]:
tabela_aula8 = pd.DataFrame({
    'Código de Tipo': codigo_tipo,
    'Tipo em C': tipo_em_c,
    'Tipo em Python': tipo_em_python,
    'Tamanho Minimo em Bytes': tamanhos_min_em_bytes,
    'Notas': notas,
})
tabela_aula8

   Código de Tipo           Tipo em C  ... Tamanho Minimo em Bytes  Notas
0              b'         signed char  ...                       1
1              B'        usigned char  ...                       1
2              u'          Py_UNICODE  ...                       2     -1
3              h'        signed short  ...                       2
4              H'       usigned short  ...                       2
5              i'          signed int  ...                       2
6              I'        unsigned int  ...                       2
7              l'         signed long  ...                       4
8              L'       unsigned long  ...                       4
9              q'    signed long long  ...                       8
10             Q'  unsigned long long  ...                       8
11             f'               float  ...                       4
12             d'              double  ...                       8

[13 rows x 5 columns]

In [10]:
from array import array

'''Armazena coleção de items apenas do mesmo tipo'''

numeros = array('i', [1, 2, 3, 4, 5, 6])

In [11]:
print(numeros)

# Adicionando um elemento
numeros.append(10)
print(numeros)

# Inserindo um item em um determinado indice
numeros.insert(5, 200)
print(numeros)

# remove um item no indice especificado
numeros.pop(1)
print(numeros)

# remove permanente um elemento especificado
numeros.remove(5)
print(numeros)

# deleta o indice especificado
del numeros[1]
print(numeros)

array('i', [1, 2, 3, 4, 5, 6])
array('i', [1, 2, 3, 4, 5, 6, 10])
array('i', [1, 2, 3, 4, 5, 200, 6, 10])
array('i', [1, 3, 4, 5, 200, 6, 10])
array('i', [1, 3, 4, 200, 6, 10])
array('i', [1, 4, 200, 6, 10])