<a href="https://colab.research.google.com/github/alfmorais/google_colaboratory/blob/main/funcao_range_dev_aprender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Range - Gerando Valores Iteráveis de Forma Fácil

In [2]:
range(30)
for numero in range(30):
  print(numero)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [4]:
print(range(10, 30, 2))
for numero in range(10, 30, 2):
  print(numero)

range(10, 30, 2)
10
12
14
16
18
20
22
24
26
28

In [5]:
resultado = list(range(0, 201, 10))
print(resultado)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200]

In [9]:
numero = int(input('Digite um número que você deseja saber a tabuada: '))

for fatorial in range(0, 11):
  total = numero * fatorial
  print(f'{numero} * {fatorial} = {total}')

Digite um número que você deseja saber a tabuada: 5
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50