<a href="https://colab.research.google.com/github/alfmorais/google_colaboratory/blob/main/modulo5_curso_dev_aprender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#O 4º Pilar da Programação - Coleções



1. Coleções em Python
2. Criando Listas Com Python
3. Encontre Valores e Manipulação de Itens de uma Lista
4. Como Ordenar Listas Simples
5. Trabalhar com Múltiplas listas usando o ZIP

In [1]:
preco_1 = 10
preco_2 = 20
preco_3 = 30

precos = [10, 20, 30]

#Acessando o indice da lista

precos[2]
precos[1]
precos[0]

print(precos[precos.index(20)])

20

In [2]:
items = [1, 2, 3, 'Café', True, 10.5, False]
print(items[4])

True

In [3]:
lista_de_noves = [9] * 10
print(lista_de_noves)

[9, 9, 9, 9, 9, 9, 9, 9, 9, 9]

In [4]:
# Usando o gerador Range
lista_de_numeros = list(range(30))
print(lista_de_numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [5]:
print(list('Desenvolvedor Python'))

['D', 'e', 's', 'e', 'n', 'v', 'o', 'l', 'v', 'e', 'd', 'o', 'r', ' ', 'P', 'y', 't', 'h', 'o', 'n']

In [6]:
# lista de lista (MATRIZ)

matriz_de_nomes = [['Alfredo', 28], ['Denise', 30]]

# Acessando items dos items em uma lista
print(matriz_de_nomes[0])
print(matriz_de_nomes[0][0])

['Alfredo', 28]
Alfredo

# DESAFIOS

1. Crie uma lista que tenha os nomes dos 3 objetos que você mais usa durante o dia e imprima ele na tela

2. Usando apenas uma linha de código, crie uma lista de 0 a 131.

3. Imprima na tela o resultado da combinação da lista do desafio 1 e desafio 2

4. Crie uma lista de Matriz que tenha os nomes dos 3 objetos que você mais usa durante o dia, mas agora dentro de cada item você vai colocar uma informação extra, coloque o valor em reais desse objeto também e imprima ele na tela.

In [7]:
lista_objetos = ['Celular', 'Sapato', 'Bolsa']

In [8]:
lista_numeros = list(range(132))

In [9]:
print(lista_objetos + lista_de_numeros)

['Celular', 'Sapato', 'Bolsa', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [10]:
lista_objetos_updated = [['Celular', 2500],
                         ['Sapato', 100],
                         ['Bolsa', 250]]
print(lista_objetos_updated)

[['Celular', 2500], ['Sapato', 100], ['Bolsa', 250]]

In [12]:
valores = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
anos = [2020, 2030, 2040, 2050]

# Adicionando ao final da lista
valores.append(11)
print(valores)

# Unir listas
valores.extend(anos)
print(valores)

# Adicionar listas
nova_lista = valores + anos
print(nova_lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 2020, 2030, 2040, 2050]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 2020, 2030, 2040, 2050, 2020, 2030, 2040, 2050]

In [13]:
print(anos[1])

2030

In [14]:
# Inserindo um novo valor a uma lista
anos.insert(2, 2031)
print(anos)

[2020, 2030, 2031, 2040, 2050]

In [15]:
# Extrair com base no indice
anos_2020 = anos.pop(0)
print(anos_2020)

2020

In [19]:
# Remover itens de uma lista
anos.append(2050)
anos.remove(2050)
print(anos)

[2030, 2031, 2040]

In [21]:
anos.append(2050)
del anos[3]
print(anos)

[2030, 2031, 2040]

In [22]:
# Removendo um itervalo de uma lista
del valores [1:5]
print(valores)

[1, 6, 7, 8, 9, 10, 11, 2020, 2030, 2040, 2050]

In [23]:
# Contando uma ocorrencia em uma lista
valores.count(2020)

1

In [24]:
# Excluindo todos os itens de uma lista
valores.clear()
print(valores)

[]

In [25]:
valores = [31, 23, 6, 36, 21, 33, 37, 7, 20, 23]
valores.sort()
print(valores)

[6, 7, 20, 21, 23, 23, 31, 33, 36, 37]

In [26]:
valores = [31, 23, 6, 36, 21, 33, 37, 7, 20, 23]
valores.sort(reverse=True)
print(valores)

[37, 36, 33, 31, 23, 23, 21, 20, 7, 6]

In [27]:
# Inverter uma lista
valores = [31, 23, 6, 36, 21, 33, 37, 7, 20, 23]
valores.reverse()
print(valores)

[23, 20, 7, 37, 33, 21, 36, 6, 23, 31]

In [28]:
a_lista = ['A', 'B', 'C', 'D', 'E']
b_lista = [1, 2, 3, 4, 5]

for a,b in zip(a_lista, b_lista):
  print(a)
  print(b)

A
1
B
2
C
3
D
4
E
5

In [29]:
produtos = ['Produto1', 'Produto2', 'Produto3', 'Produto4', 'Produto5']
precos = [250, 150, 220, 550, 50]
for a, b in zip(produtos, precos):
  print(f'Salvando produto {a} valor R$ {b}')

Salvando produto Produto1 valor R$ 250
Salvando produto Produto2 valor R$ 150
Salvando produto Produto3 valor R$ 220
Salvando produto Produto4 valor R$ 550
Salvando produto Produto5 valor R$ 50

In [33]:
from itertools import zip_longest

titulos = ['t1', 't2', 't3', 't4']
descricoes = ['D1', 'D2', 'D3']

for titulo, descricao in zip_longest(titulos, descricoes):
  print(f'Encontramos o {titulo} descrição: {descricao}')

Encontramos o t1 descrição: D1
Encontramos o t2 descrição: D2
Encontramos o t3 descrição: D3
Encontramos o t4 descrição: None

In [34]:
from itertools import zip_longest

produtos = ['Produto 1', 'Produto 2', 'Produto 3', 'Produto 4', 'Produto 5']
precos = ['R$500,00', 'R$1500,00', 'R$2700,00', 'R$5000,00']

for produto, preco in zip_longest(produtos, precos):
  print(f'Produto: {produto} encontrado no valor de {preco}')

Produto: Produto 1 encontrado no valor de R$500,00
Produto: Produto 2 encontrado no valor de R$1500,00
Produto: Produto 3 encontrado no valor de R$2700,00
Produto: Produto 4 encontrado no valor de R$5000,00
Produto: Produto 5 encontrado no valor de None