<a href="https://colab.research.google.com/github/alfmorais/estudos_em_python/blob/main/palpites_lotofacil.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import random
import pandas as pd

# Lista de numeros possiveis 
lista_numeros = list(range(1, 26, 1))

# contador do loop while
contador = 0

# lista de palpites
lista_palpites = []

while True:
  # Usando a função random.choices para selecionar os números
  palpites = random.choices(lista_numeros, k=15)
  
  # Convertendo a lista em set
  palpites = set(palpites)
  
  # verificando se o palpites tem 15 digitos
  if len(palpites) == 15:
    print(palpites)
    contador += 1
    palpites = list(palpites)
    lista_palpites.append(palpites)

    # verificando se o palpites foi impresso 10 vezes e saindo do loop while
    if contador == 10:
      break

{1, 2, 3, 4, 8, 9, 10, 15, 17, 18, 20, 21, 22, 23, 25}
{1, 2, 3, 4, 7, 12, 13, 14, 15, 17, 19, 20, 23, 24, 25}
{1, 3, 5, 6, 9, 10, 11, 12, 13, 14, 17, 19, 23, 24, 25}
{3, 4, 5, 6, 7, 9, 10, 11, 13, 14, 15, 17, 18, 21, 23}
{3, 4, 5, 6, 7, 8, 9, 11, 14, 15, 16, 18, 19, 20, 24}
{1, 2, 3, 4, 6, 11, 13, 16, 17, 19, 21, 22, 23, 24, 25}
{1, 3, 5, 7, 8, 9, 11, 12, 14, 18, 20, 21, 23, 24, 25}
{3, 4, 5, 6, 9, 14, 15, 16, 17, 18, 19, 21, 22, 23, 25}
{4, 5, 6, 7, 8, 11, 13, 15, 16, 17, 19, 20, 21, 23, 24}
{1, 2, 4, 6, 7, 8, 10, 11, 12, 15, 17, 18, 22, 23, 24}

In [7]:
# Elaborando o DataFrame
df_palpites = pd.DataFrame({
    'Jogo 1': lista_palpites[0],
    'Jogo 2': lista_palpites[1],
    'Jogo 3': lista_palpites[2],
    'Jogo 4': lista_palpites[3],
    'Jogo 5': lista_palpites[4],
    'Jogo 6': lista_palpites[5],
    'Jogo 7': lista_palpites[6],
    'Jogo 8': lista_palpites[7],
    'Jogo 9': lista_palpites[8],
    'Jogo 10': lista_palpites[9]
})

# Imprimindo o dataframe
df_palpites

    Jogo 1  Jogo 2  Jogo 3  Jogo 4  ...  Jogo 7  Jogo 8  Jogo 9  Jogo 10
0        1       1       1       3  ...       1       3       4        1
1        2       2       3       4  ...       3       4       5        2
2        3       3       5       5  ...       5       5       6        4
3        4       4       6       6  ...       7       6       7        6
4        8       7       9       7  ...       8       9       8        7
5        9      12      10       9  ...       9      14      11        8
6       10      13      11      10  ...      11      15      13       10
7       15      14      12      11  ...      12      16      15       11
8       17      15      13      13  ...      14      17      16       12
9       18      17      14      14  ...      18      18      17       15
10      20      19      17      15  ...      20      19      19       17
11      21      20      19      17  ...      21      21      20       18
12      22      23      23      18  ...      23      22      21       22
13      23      24      24      21  ...      24      23      23       23
14      25      25      25      23  ...      25      25      24       24

[15 rows x 10 columns]

In [9]:
# Fazendo o arquivo palpites
with open('palpites.txt', 'w') as file:
  file.write(
      df_palpites.to_string()
  )