<a href="https://colab.research.google.com/github/alfmorais/estudos_em_python/blob/main/curso_dev_aprender/modulo_9/excel_manipulando.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Modulo 9 - Aula 10

## Manipulando Planilhas Existentes

In [1]:
import openpyxl

In [2]:
planilha = openpyxl.load_workbook('pessoas.xlsx')

In [3]:
print(planilha.sheetnames)

['Sheet1']

In [4]:
sheet1 = planilha.get_sheet_by_name('Sheet1')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  """Entry point for launching an IPython kernel.

In [5]:
print(sheet1['C3'].value)
sheet1['C3'].value = 'Hashirama'
print(sheet1['C3'].value)

Hashimoto
Hashirama

In [6]:
sheet1.cell(row=3, column=3, value='Mark')
print(sheet1['C3'].value)

Mark

In [20]:
for linha in sheet1.iter_rows(min_row=2, max_row=11, min_col=2, max_col=4):
  print(linha[0].value, linha[1].value, linha[2].value)

Dulce Abril Female
Mara Mark Female
Philip Gent Male
Kathleen Hanner Female
Nereida Magwood Female
Gaston Brumm Male
Etta Hurn Female
Earlean Melgar Female
Vincenza Weiland Female
Fallon Winward Female

In [8]:
for linha in sheet1.iter_cols(min_col=2, max_col=2, min_row=2):
  for cell in linha:
    print(cell.value)

Dulce
Mara
Philip
Kathleen
Nereida
Gaston
Etta
Earlean
Vincenza
Fallon
Arcelia
Franklyn
Sherron
Marcel
Kina
Shavonne
Shavon
Lauralee
Loreta
Teresa
Belinda
Holly
Many
Libbie
Lester
Marvel
Angelyn
Francesca
Garth
Carla
Veta
Stasia
Jona
Judie
Dewitt
Nena
Kelsie
Sau
Shanice
Chase
Tommie
Dorcas
Angel
Willodean
Weston
Roma
Felisa
Demetria
Jeromy
Rasheeda
Dulce
Mara
Philip
Kathleen
Nereida
Gaston
Etta
Earlean
Vincenza
Fallon
Arcelia
Franklyn
Sherron
Marcel
Kina
Shavonne
Shavon
Lauralee
Loreta
Teresa
Belinda
Holly
Many
Libbie
Lester
Marvel
Angelyn
Francesca
Garth
Carla
Veta
Stasia
Jona
Judie
Dewitt
Nena
Kelsie
Sau
Shanice
Chase
Tommie
Dorcas
Angel
Willodean
Weston
Roma
Felisa
Demetria
Jeromy
Rasheeda

# Desafio

Baixe o arquivo pessoas.xlsx dentro desta pasta



1.   Imprima na tela somente o valor Philips que estou mostrando aqui na tela que está dentro da planilha 'pessoas.xlsx'.
2.   Altere o valor dessa celula para 'Jimmy'.
3. Imprima na tela somente os valores das linhas 2 a 10
4. Imprima na tela todos os valores contidos dentro da coluna 'Last Name'

In [ ]:
# Imprima na tela somente o valor Philips que estou mostrando aqui na tela que está dentro da planilha 'pessoas.xlsx'.
print(sheet1['B4'].value)

In [10]:
# Altere o valor dessa celula para 'Jimmy'.
print(sheet1['B4'].value)
sheet1['B4'].value = 'Jimmy'
print(sheet1['B4'].value)

In [14]:
# Imprima na tela somente os valores das linhas 2 a 10
for linha in sheet1.iter_rows(min_row=2, max_row=10, min_col=0, max_col=8):
  print(linha[0].value, linha[1].value, linha[2].value,
        linha[3].value, linha[4].value, linha[5].value,
        linha[6].value, linha[7].value)

1 Dulce Abril Female United States 32 15/10/2017 1562
2 Mara Mark Female Great Britain 25 16/08/2016 1582
3 Philip Gent Male France 36 21/05/2015 2587
4 Kathleen Hanner Female United States 25 15/10/2017 3549
5 Nereida Magwood Female United States 58 16/08/2016 2468
6 Gaston Brumm Male United States 24 21/05/2015 2554
7 Etta Hurn Female Great Britain 56 15/10/2017 3598
8 Earlean Melgar Female United States 27 16/08/2016 2456
9 Vincenza Weiland Female United States 40 21/05/2015 6548

In [19]:
# Imprima na tela todos os valores contidos dentro da coluna 'Last Name'
for linha in sheet1.iter_cols(min_col=3, max_col=3, min_row=2):
  for cell in linha:
    print(cell.value)

Abril
Mark
Gent
Hanner
Magwood
Brumm
Hurn
Melgar
Weiland
Winward
Bouska
Unknow
Ascencio
Zabriskie
Hazelton
Pia
Benito
Perrine
Curren
Strawn
Partain
Eudy
Cuccia
Dalby
Prothro
Hail
Vong
Beaudreau
Gangi
Trumbull
Muntz
Becker
Grindle
Claywell
Borger
Hacker
Wachtel
Pfau
Mccrystal
Karner
Underdahl
Darity
Sanor
Harn
Martina
Lafollette
Cail
Abbey
Danz
Alkire
Abril
Hashimoto
Gent
Hanner
Magwood
Brumm
Hurn
Melgar
Weiland
Winward
Bouska
Unknow
Ascencio
Zabriskie
Hazelton
Pia
Benito
Perrine
Curren
Strawn
Partain
Eudy
Cuccia
Dalby
Prothro
Hail
Vong
Beaudreau
Gangi
Trumbull
Muntz
Becker
Grindle
Claywell
Borger
Hacker
Wachtel
Pfau
Mccrystal
Karner
Underdahl
Darity
Sanor
Harn
Martina
Lafollette
Cail
Abbey
Danz
Alkire