<a href="https://colab.research.google.com/github/alfmorais/google_colaboratory/blob/main/prestacoes_moveis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Criando a lista parcelas

lista_prestacoes = ['Entrada']

prestacao = 1

while True:
  if prestacao != 13:
    message = 'Prestação_' + str(prestacao)
    lista_prestacoes.append(message)
    prestacao += 1
  else:
    break

print(lista_prestacoes)

['Entrada', 'Prestação_1', 'Prestação_2', 'Prestação_3', 'Prestação_4', 'Prestação_5', 'Prestação_6', 'Prestação_7', 'Prestação_8', 'Prestação_9', 'Prestação_10', 'Prestação_11', 'Prestação_12']

In [7]:
# Criando a lista valor das parcelas

valor_das_parcelas = [12000]

prestacoes = 1

while True:
  if prestacoes != 13:
    valor_das_parcelas.append(916.66)
    prestacoes += 1
  else:
    break 

print(valor_das_parcelas)

[12000, 916.66, 916.66, 916.66, 916.66, 916.66, 916.66, 916.66, 916.66, 916.66, 916.66, 916.66, 916.66]

In [9]:
data = ['16/11/2020',
        '31/12/2020',
        '29/01/2021',
        '26/02/2021',
        '30/03/2021',
        '30/04/2021',
        '31/05/2021',
        '30/06/2021',
        '30/07/2021',
        '31/08/2021',
        '30/09/2021',
        '29/10/2021',
        '30/11/2021']

In [11]:
lista_status = ['Pago', 'Pago', 'Pago']

status = 1

while True:
  if status != 11:
    lista_status.append('Programado')
    status += 1
  else:
    break

print(lista_status)

['Pago', 'Pago', 'Pago', 'Programado', 'Programado', 'Programado', 'Programado', 'Programado', 'Programado', 'Programado', 'Programado', 'Programado', 'Programado']

In [12]:
# Defenindo o Dataframe

import pandas as pd

dataframe = pd.DataFrame({
    'Prestações': lista_prestacoes,
    'Valor das Parcelas': valor_das_parcelas,
    'Data': data,
    'Status': lista_status
})

dataframe

      Prestações  Valor das Parcelas        Data      Status
0        Entrada            12000.00  16/11/2020        Pago
1    Prestação_1              916.66  31/12/2020        Pago
2    Prestação_2              916.66  29/01/2021        Pago
3    Prestação_3              916.66  26/02/2021  Programado
4    Prestação_4              916.66  30/03/2021  Programado
5    Prestação_5              916.66  30/04/2021  Programado
6    Prestação_6              916.66  31/05/2021  Programado
7    Prestação_7              916.66  30/06/2021  Programado
8    Prestação_8              916.66  30/07/2021  Programado
9    Prestação_9              916.66  31/08/2021  Programado
10  Prestação_10              916.66  30/09/2021  Programado
11  Prestação_11              916.66  29/10/2021  Programado
12  Prestação_12              916.66  30/11/2021  Programado